{% extends 'base.html' %}


{% block Content %}
<div class="container">
    <div class="row">
        <div class="col-md-2 entry-box" style="background-color: ">
            <ul class="nav nav-list">
				<li class="nav-header">manage posts/li>
				<li><a href="{{ url_for('admin.submitArticles') }}">new post</a></li>
				<li><a href="{{ url_for('admin.manage_articles') }}">manage posts</a></li>
				<li><a href="{{ url_for('admin.manage_articleTypes') }}">post types</a></li>

				<li class="nav-header">manage comments</li>
				<li><a href="{{ url_for('admin.manage_comments') }}">manage comments</a></li>

                <li class="nav-header">blog settings</li>
				<li><a href="{{ url_for('admin.custom_blog_info') }}">basic info</a></li>
				<li><a href="{{ url_for('admin.custom_blog_plugin') }}">manage plugins</a></li>
				<li><a href="{{ url_for('admin.add_plugin') }}">add plugin</a></li>

				<li class="nav-header">other settings</li>
				<li><a href="{{ url_for('admin.account') }}">user account</a></li>
				<li><a href="{{ url_for('admin.help') }}">help</a></li>
			</ul>
        </div>
        <div class="col-md-10">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{category}} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}

            {% block admin_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}
