{% extends 'admin/admin_base.html' %}

{% block title %}
    Pyblog -Help
{% endblock %}

{% block admin_content %}
<div class="entry-box">
    <h4><strong>Pyblog Help documentations</strong></h4>
    <hr/>
    <h5 style="color: #337ab7"><strong>1.what is Pyblog?</strong></h5>
    <p>
        &nbsp;&nbsp;&nbsp;Pyblog is writen by python lover <code>Yaakov Azat</code> with Python Flask，SQLite and Gunicorn
        
    </p>
    <p>
        more info here 
    </p>
    <p>
        more info here
    </p>
    <p>
        more info here
    </p>
    <p>
        more info here
    </p>
    <p>
        more info here
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;more info here
    </p>
</div>
{% endblock %}